
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <text></text>
</head>
<body>
    <div>
        <h2>DefaultController</h2>
    </div>

    @{
        var i = 123;
        <h2>dsadasd</h2>
        @:dasdasdasd
    }
    @{
        i = 1234;
        <text>

    dasdas
    </text>
    }

</body>
</html>
